/* theme color */
:root {
    --section-background-color: #0d0e10;
    --background-color: #302f2b;
    --nav-text-color: #757664;
    --highlight-color: #c0b7a8;
    --button-text-color: #555648;
    --text-color: #eee2d4;
}

html {
    background-color: var(--background-color);
}

/* Header styles */
header {
    background-color: var(--section-background-color);
}

header ul{
    list-style-type: none;
    display: flex;
    justify-content: space-around;
    text-align: right;
}

header a {
    font-family: 'Share Tech Mono', monospace, 'Noto Sans TC', sans-serif;
    color: var(--nav-text-color);
}

header a:hover {
    color: var(--highlight-color);
    text-shadow: 0 0 10px var(--highlight-color);
    transition-duration: 0.5s;
}

nav ul {
    list-style-type: none;
    display: flex;
    justify-content: space-around;
}
nav ul:hover {
    color: var(--highlight-color);
}

nav home {
    font-family: 'Share Tech Mono', monospace, 'Noto Sans TC', sans-serif;
    font-size: 1.5em;
    color: var(--nav-text-color);
    font-weight: bold;
}

nav home:hover {
    color: var(--highlight-color);
}

nav svg{
    /*  fill="none" xmlns="http://www.w3.org/2000/svg" */
    fill: none;
    stroke: var(--nav-text-color);
    /* stroke-width="2" stroke-linecap="round" stroke-linejoin="round" */
    stroke-width: 2;
    stroke-linecap: round;
    stroke-linejoin: round;
}

nav svg:hover {
    stroke: var(--highlight-color);
    stroke-width: 3;
    transition-duration: 0.5s;
}

nav a {
    font-family: 'Share Tech Mono', monospace, 'Noto Sans TC', sans-serif;
    text-align: center;
    color: var(--nav-text-color);
}
nav button{
    color: var(--button-text-color);
}

nav button:hover {
    color: var(--highlight-color);
    text-shadow: 0 0 10px var(--highlight-color);
    transition-duration: 0.5s;
}

nav a:hover {
    color: var(--highlight-color);
    /* font-weight: bold; */
    text-shadow: 0 0 10px var(--highlight-color);
    transition-duration: 0.5s;
}



body, ul {
    margin: 0;
    padding: 0;
}

body {
    font-family: Arial, sans-serif;
}

banner {
    background-color: var(--section-background-color);
    text-align: center;
    padding: 10px 0;
}

h1 {
    /* font-family: 'Share Tech Mono', monospace; */
    /* font-family: 'DotGothic16', sans-serif; */
    color: var(--text-color);
}

/* Main content styles */
main {
    background: var(--background-color);
    font-family: 'Share Tech Mono', monospace, 'Noto Sans TC', sans-serif;
    color: var(--text-color);
}

section {
    background-color: var(--section-background-color);
}


/* Footer styles */
footer {
    background-color: var(--section-background-color);
    text-align: center;
    padding: 10px 0;
}